VITE_SARVAM_API_KEY=replace_with_a_new_sarvam_key
VITE_SARVAM_ORG_ID=019e90b4-949c-793b-b1a5-c57b19d3153b
VITE_SARVAM_WORKSPACE_ID=019e90b4-9506-7263-8381-98f3a69a0305
VITE_SARVAM_APP_ID=Conversatio-e9177db5-caa4
VITE_SARVAM_GANDHI_APP_ID=Conversatio-e9177db5-caa4
VITE_SARVAM_EINSTEIN_APP_ID=Conversatio-71192055-48ab
VITE_SARVAM_GUIDE_APP_ID=Conversatio-9f72aaa2-f2f0
